@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jbd3xi');
  src:  url('fonts/icomoon.eot?jbd3xi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jbd3xi') format('truetype'),
    url('fonts/icomoon.woff?jbd3xi') format('woff'),
    url('fonts/icomoon.svg?jbd3xi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-identification1-check .path1:before {
  content: "\e90d";
  color: rgb(72, 159, 75);
}
.icon-identification1-check .path2:before {
  content: "\e90e";
  margin-left: -0.7998046875em;
  color: rgb(255, 255, 255);
}
.icon-identification1-check .path3:before {
  content: "\e90f";
  margin-left: -0.7998046875em;
  color: rgb(72, 159, 75);
}
.icon-identification1-deauflt:before {
  content: "\e910";
  color: #999;
}
.icon-identification2-check .path1:before {
  content: "\e911";
  color: rgb(72, 159, 75);
}
.icon-identification2-check .path2:before {
  content: "\e912";
  margin-left: -0.7998046875em;
  color: rgb(255, 255, 255);
}
.icon-identification2-check .path3:before {
  content: "\e913";
  margin-left: -0.7998046875em;
  color: rgb(72, 159, 75);
}
.icon-identification2-deauflt:before {
  content: "\e914";
  color: #999;
}
.icon-identification3-check .path1:before {
  content: "\e915";
  color: rgb(72, 159, 75);
}
.icon-identification3-check .path2:before {
  content: "\e916";
  margin-left: -0.7998046875em;
  color: rgb(255, 255, 255);
}
.icon-identification3-check .path3:before {
  content: "\e917";
  margin-left: -0.7998046875em;
  color: rgb(72, 159, 75);
}
.icon-identification3-deauflt:before {
  content: "\e918";
  color: #999;
}
.icon-area-square .path1:before {
  content: "\e97a";
  color: rgb(66, 147, 240);
}
.icon-area-square .path2:before {
  content: "\e97b";
  margin-left: -1.25em;
  color: rgb(255, 255, 255);
}
.icon-rtsp-inro .path1:before {
  content: "\e953";
  color: rgb(247, 181, 44);
}
.icon-rtsp-inro .path2:before {
  content: "\e954";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 0);
}
.icon-rtsp-inro .path3:before {
  content: "\e955";
  margin-left: -1.412109375em;
  color: rgb(237, 110, 96);
}
.icon-rtsp-inro .path4:before {
  content: "\e956";
  margin-left: -1.412109375em;
  color: rgb(51, 153, 255);
}
.icon-rtsp-inro .path5:before {
  content: "\e957";
  margin-left: -1.412109375em;
  color: rgb(231, 150, 118);
}
.icon-rtsp-inro .path6:before {
  content: "\e958";
  margin-left: -1.412109375em;
  color: rgb(231, 150, 118);
}
.icon-rtsp-inro .path7:before {
  content: "\e959";
  margin-left: -1.412109375em;
  color: rgb(231, 150, 118);
}
.icon-rtsp-inro .path8:before {
  content: "\e95a";
  margin-left: -1.412109375em;
  color: rgb(23, 28, 43);
}
.icon-rtsp-inro .path9:before {
  content: "\e95b";
  margin-left: -1.412109375em;
  color: rgb(23, 28, 43);
}
.icon-rtsp-inro .path10:before {
  content: "\e95c";
  margin-left: -1.412109375em;
  color: rgb(244, 168, 134);
}
.icon-rtsp-inro .path11:before {
  content: "\e95d";
  margin-left: -1.412109375em;
  color: rgb(23, 28, 43);
}
.icon-rtsp-inro .path12:before {
  content: "\e95e";
  margin-left: -1.412109375em;
  color: rgb(244, 168, 134);
}
.icon-rtsp-inro .path13:before {
  content: "\e95f";
  margin-left: -1.412109375em;
  color: rgb(244, 168, 134);
}
.icon-rtsp-inro .path14:before {
  content: "\e960";
  margin-left: -1.412109375em;
  color: rgb(43, 20, 18);
}
.icon-rtsp-inro .path15:before {
  content: "\e961";
  margin-left: -1.412109375em;
  color: rgb(30, 36, 53);
}
.icon-rtsp-inro .path16:before {
  content: "\e962";
  margin-left: -1.412109375em;
  color: rgb(30, 36, 53);
}
.icon-rtsp-inro .path17:before {
  content: "\e963";
  margin-left: -1.412109375em;
  color: rgb(231, 150, 118);
}
.icon-rtsp-inro .path18:before {
  content: "\e964";
  margin-left: -1.412109375em;
  color: rgb(231, 150, 118);
}
.icon-rtsp-inro .path19:before {
  content: "\e965";
  margin-left: -1.412109375em;
  color: rgb(28, 70, 175);
}
.icon-rtsp-inro .path20:before {
  content: "\e966";
  margin-left: -1.412109375em;
  color: rgb(244, 168, 134);
}
.icon-rtsp-inro .path21:before {
  content: "\e967";
  margin-left: -1.412109375em;
  color: rgb(244, 168, 134);
}
.icon-rtsp-inro .path22:before {
  content: "\e968";
  margin-left: -1.412109375em;
  color: rgb(225, 138, 114);
}
.icon-rtsp-inro .path23:before {
  content: "\e969";
  margin-left: -1.412109375em;
  color: rgb(244, 163, 127);
}
.icon-rtsp-inro .path24:before {
  content: "\e96a";
  margin-left: -1.412109375em;
  color: rgb(244, 163, 127);
}
.icon-rtsp-inro .path25:before {
  content: "\e96b";
  margin-left: -1.412109375em;
  color: rgb(0, 0, 15);
}
.icon-rtsp-inro .path26:before {
  content: "\e96c";
  margin-left: -1.412109375em;
  color: rgb(244, 163, 127);
}
.icon-rtsp-inro .path27:before {
  content: "\e96d";
  margin-left: -1.412109375em;
  color: rgb(233, 142, 114);
}
.icon-rtsp-inro .path28:before {
  content: "\e96e";
  margin-left: -1.412109375em;
  color: rgb(30, 36, 53);
}
.icon-rtsp-inro .path29:before {
  content: "\e96f";
  margin-left: -1.412109375em;
  color: rgb(34, 72, 192);
}
.icon-rtsp-inro .path30:before {
  content: "\e970";
  margin-left: -1.412109375em;
  color: rgb(34, 72, 192);
}
.icon-rtsp-inro .path31:before {
  content: "\e971";
  margin-left: -1.412109375em;
  color: rgb(221, 221, 221);
}
.icon-rtsp-inro .path32:before {
  content: "\e972";
  margin-left: -1.412109375em;
  color: rgb(245, 245, 245);
}
.icon-rtsp-inro .path33:before {
  content: "\e973";
  margin-left: -1.412109375em;
  color: rgb(221, 221, 221);
}
.icon-rtsp-inro .path34:before {
  content: "\e974";
  margin-left: -1.412109375em;
  color: rgb(244, 168, 134);
}
.icon-rtsp-inro .path35:before {
  content: "\e975";
  margin-left: -1.412109375em;
  color: rgb(244, 168, 134);
}
.icon-rtsp-inro .path36:before {
  content: "\e976";
  margin-left: -1.412109375em;
  color: rgb(28, 70, 175);
}
.icon-rtsp-inro .path37:before {
  content: "\e977";
  margin-left: -1.412109375em;
  color: rgb(43, 20, 18);
}
.icon-rtsp-inro .path38:before {
  content: "\e978";
  margin-left: -1.412109375em;
  color: rgb(23, 28, 43);
}
.icon-rtsp-inro .path39:before {
  content: "\e979";
  margin-left: -1.412109375em;
  color: rgb(244, 168, 134);
}
.icon-add-circle:before {
  content: "\e900";
}
.icon-area:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
  color: #999;
}
.icon-cctv-ai:before {
  content: "\e903";
}
.icon-cctv-info:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-chevron-down:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-close-circle:before {
  content: "\e909";
  color: #999;
}
.icon-edit-square .path1:before {
  content: "\e90a";
  color: rgb(66, 147, 240);
}
.icon-edit-square .path2:before {
  content: "\e90b";
  margin-left: -1.25em;
  color: rgb(255, 255, 255);
}
.icon-fire:before {
  content: "\e90c";
  color: #489f4b;
}
.icon-logo .path1:before {
  content: "\e919";
  color: rgb(238, 218, 0);
}
.icon-logo .path2:before {
  content: "\e91a";
  margin-left: -0.8330078125em;
  color: rgb(255, 255, 255);
}
.icon-logo .path3:before {
  content: "\e91b";
  margin-left: -0.8330078125em;
  color: rgb(0, 0, 149);
}
.icon-map-fire .path1:before {
  content: "\e91c";
  color: rgb(255, 214, 0);
}
.icon-map-fire .path2:before {
  content: "\e91d";
  margin-left: -0.8330078125em;
  color: rgb(68, 68, 68);
}
.icon-map-fire .path3:before {
  content: "\e91e";
  margin-left: -0.8330078125em;
  color: rgb(34, 34, 34);
}
.icon-map-people .path1:before {
  content: "\e91f";
  color: rgb(255, 214, 0);
}
.icon-map-people .path2:before {
  content: "\e920";
  margin-left: -0.8330078125em;
  color: rgb(68, 68, 68);
}
.icon-map-people .path3:before {
  content: "\e921";
  margin-left: -0.8330078125em;
  color: rgb(34, 34, 34);
}
.icon-map-water .path1:before {
  content: "\e922";
  color: rgb(255, 214, 0);
}
.icon-map-water .path2:before {
  content: "\e923";
  margin-left: -0.8330078125em;
  color: rgb(68, 68, 68);
}
.icon-map-water .path3:before {
  content: "\e924";
  margin-left: -0.8330078125em;
  color: rgb(34, 34, 34);
}
.icon-model-map .path1:before {
  content: "\e925";
  color: rgb(34, 34, 34);
}
.icon-model-map .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-model-video .path1:before {
  content: "\e927";
  color: rgb(34, 34, 34);
}
.icon-model-video .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-not-found:before {
  content: "\e929";
  color: #4293f0;
}
.icon-return-accept .path1:before {
  content: "\e92a";
  color: rgb(51, 51, 51);
}
.icon-return-accept .path2:before {
  content: "\e92b";
  margin-left: -0.9521484375em;
  color: rgb(72, 159, 75);
}
.icon-return-accept-active .path1:before {
  content: "\e92c";
  color: rgb(72, 159, 75);
}
.icon-return-accept-active .path2:before {
  content: "\e92d";
  margin-left: -0.9521484375em;
  color: rgb(255, 255, 255);
}
.icon-return-ignore .path1:before {
  content: "\e92e";
  color: rgb(51, 51, 51);
}
.icon-return-ignore .path2:before {
  content: "\e92f";
  margin-left: -0.9521484375em;
  color: rgb(255, 214, 0);
}
.icon-return-ignore-active .path1:before {
  content: "\e930";
  color: rgb(255, 214, 0);
}
.icon-return-ignore-active .path2:before {
  content: "\e931";
  margin-left: -0.9521484375em;
  color: rgb(51, 51, 51);
}
.icon-return-wrong .path1:before {
  content: "\e932";
  color: rgb(51, 51, 51);
}
.icon-return-wrong .path2:before {
  content: "\e933";
  margin-left: -0.9521484375em;
  color: rgb(215, 53, 33);
}
.icon-return-wrong-active .path1:before {
  content: "\e934";
  color: rgb(215, 53, 33);
}
.icon-return-wrong-active .path2:before {
  content: "\e935";
  margin-left: -0.9521484375em;
  color: rgb(255, 255, 255);
}
.icon-search:before {
  content: "\e936";
}
.icon-sort-all:before {
  content: "\e937";
}
.icon-sort-all-active .path1:before {
  content: "\e938";
  color: rgb(68, 68, 68);
}
.icon-sort-all-active .path2:before {
  content: "\e939";
  margin-left: -0.900390625em;
  color: rgb(238, 238, 238);
}
.icon-sort-all-active .path3:before {
  content: "\e93a";
  margin-left: -0.900390625em;
  color: rgb(255, 214, 0);
}
.icon-sort-fire:before {
  content: "\e93b";
}
.icon-sort-fire-active .path1:before {
  content: "\e93c";
  color: rgb(68, 68, 68);
}
.icon-sort-fire-active .path2:before {
  content: "\e93d";
  margin-left: -0.900390625em;
  color: rgb(238, 238, 238);
}
.icon-sort-fire-active .path3:before {
  content: "\e93e";
  margin-left: -0.900390625em;
  color: rgb(255, 214, 0);
}
.icon-sort-people:before {
  content: "\e93f";
}
.icon-sort-people-active .path1:before {
  content: "\e940";
  color: rgb(68, 68, 68);
}
.icon-sort-people-active .path2:before {
  content: "\e941";
  margin-left: -0.900390625em;
  color: rgb(238, 238, 238);
}
.icon-sort-people-active .path3:before {
  content: "\e942";
  margin-left: -0.900390625em;
  color: rgb(255, 214, 0);
}
.icon-sort-water:before {
  content: "\e943";
}
.icon-sort-water-active .path1:before {
  content: "\e944";
  color: rgb(68, 68, 68);
}
.icon-sort-water-active .path2:before {
  content: "\e945";
  margin-left: -0.900390625em;
  color: rgb(238, 238, 238);
}
.icon-sort-water-active .path3:before {
  content: "\e946";
  margin-left: -0.900390625em;
  color: rgb(255, 214, 0);
}
.icon-sound-square .path1:before {
  content: "\e947";
  color: rgb(66, 147, 240);
}
.icon-sound-square .path2:before {
  content: "\e948";
  margin-left: -1.25em;
  color: rgb(255, 255, 255);
}
.icon-text:before {
  content: "\e949";
}
.icon-trash:before {
  content: "\e94a";
}
.icon-trash-square .path1:before {
  content: "\e94b";
  color: rgb(66, 147, 240);
}
.icon-trash-square .path2:before {
  content: "\e94c";
  margin-left: -1.25em;
  color: rgb(255, 255, 255);
}
.icon-unlock:before {
  content: "\e94d";
}
.icon-user:before {
  content: "\e94e";
  color: #489f4b;
}
.icon-user-linear:before {
  content: "\e94f";
}
.icon-video-square .path1:before {
  content: "\e950";
  color: rgb(66, 147, 240);
}
.icon-video-square .path2:before {
  content: "\e951";
  margin-left: -1.25em;
  color: rgb(255, 255, 255);
}
.icon-water:before {
  content: "\e952";
  color: #489f4b;
}
